body {
    background-color: white;
}
h1{
    color:white;
    background-color:rgba(10, 22, 192, 0.918);
    font-size: 45px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-style: italic;
    border: 2px solid rgb(108, 55, 233);
    border-radius: 40%;
    margin-bottom: 30px;
}
marquee{
   border: 3px ; 
   font-size: 15px;
   color:rgb(108, 55, 233);
   font-family: "Arial Black", Gadget, sans-serif;
   background-color: rgba(243, 229, 29, 0.918);
   margin-bottom: 50px;
}
h2{
    text-align: center;
    font-size: 30px;
}
img{
    float: left;
    margin: 5 20px 20px 5;
    padding: 10px;
    border-radius: 50%;
    border: black 1px solid;
    }
    .contenido{
        float: right;
        background-color:white;
        height: 40%;
        width: 100%;
        font-style: italic;
        font-size: 22px ;
        
        margin-bottom: 40px;
    }
textarea {
    font-family: Garamond,verdana;
    font-size: 18px;
    font-weight: bold;
    color: #851919;
    background:white;
    letter-spacing: 3px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
    border-radius: 10%;
    }
p {
        text-align: center;
        font-size: 20px;
        font-weight: 700; 
        font-style: italic;
        color:blue;  
    }
btn{
        background-color: #4CAF50;
        text-align: center;
        font-size: 16px;
        border-radius: 50;
    }
.va {
    color:red;
}
.piedepagina {
    background-color: rgb(36, 35, 35);
    color: antiquewhite;
    font-size: 15px;
    padding : 10px;
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
    text-align:center;
    }
.btn1{
    color: blue;
    font-family:'Playfair Display', serif ;
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(243, 229, 29, 0.918);
    border-radius: 40%;
    padding: 12px 28px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;

}
.btn1:hover {
    background-color:blue; /* Green */
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.btn2{
    color: blue;
    font-family:'Playfair Display', serif ;
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(243, 229, 29, 0.918);
    border-radius: 40%;
    padding: 12px 28px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;

}
.btn2:hover {
    background-color:blue; /* Green */
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}